<div class="file-upload">
    <!-- <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
   -->
    <div class="image-upload-wrap">
      <input class="file-upload-input" type='file' (change)="addFile($event);" />
      <div class="drag-text">
        <h3 *ngIf="file == undefined">{{ "Drag and drop a file or select add file"}}</h3>
        <h3 *ngIf="file != undefined">{{ file.file.name}}</h3>
      </div>
    </div>
    <button class="btn btn-primary upload-btn" (click)="upload()">Upload</button>

    <div class="progress">
        <div class="progress-bar" style="width: {{progress}}%" role="progressbar" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div *ngIf="progress == 100">
        Uploaded Successfully
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FileName</th>
        <th scope="col">File Extension</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uploadedFiles; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.name.split('.')[1]}}</td>
        <td><a href='{{item.url}}' target="_blank">Click</a></td>
      </tr>
    </tbody>
  </table>
<router-outlet></router-outlet>

